
.dropdown {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%);
    width: 100px;
    position: absolute;
    top: 50px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown li {
    color: white;
    text-align: center;
    padding-top: 1px;
    float: none;
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%);
  }
  
  

  
  
  
  
  @media screen and (max-width: 700px) {

    .dropdown {  
        display: block;
        bottom: 50px;
    }


  }