
.dropdown {
    /* background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%); */
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    width: 6.875rem;
    position: absolute;
    top: 1rem;
    list-style: none;
    text-align: start;
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .dropdownposition{
    position: relative;
    display: inline-block;
    right: 1.7rem;
  }

  .dropdown a {
    color: white;
    text-align: center;
    padding-top: 1px;
    float: none;
  }
  
  
  .fas.fa-cog.b {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.2rem;
  }
  
  .fas.fa-user-circle.b {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.2rem;
  }

  .fas.fa-sign-out-alt {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.2rem;
  }
  

  @media screen and (max-width: 1020px) {
    .dropdownposition{
      right: 4.5rem;
      transition: 0.3s;
    }
  }

  @media screen and (max-width: 700px) {
    .dropdownposition{
      right: 4.5rem;
      transition: 0.3s;
      top: -0.05rem;
    }
  }