
.dropdown {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%);
    width: 120px;
    position: absolute;
    top: 50px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown a {
    color: white;
    text-align: center;
    padding-top: 1px;
    float: none;
  }
  
  
  .fas.fa-cog.b {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.2rem;
  }
  
  .fas.fa-user-circle.b {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.2rem;
  }

  .fas.fa-sign-out-alt {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.2rem;
  }
  
  
  
  @media screen and (max-width: 700px) {

    .dropdown {  
        display: block;
        bottom: 100%;
    }


  }