.Navbar {
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.Navbarbottom{
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.nav-menubottom {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
}

.navbar-logo {
    color: white;
    justify-self: start; 
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.fas.fa-user-circle {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.5rem;
    cursor: pointer; 
}

.fas.fa-home {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.5rem; 
}

.fas.fa-crown {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.5rem;
}

.fas.fa-search {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.5rem;
}

.logo{
    margin-top: 0.25rem;
    margin-right: 0.2rem;
    height: 2rem;
}

.fas.fa-camera {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
    .NavbarItems {
        position: relative;
    }

    .Navbarbottom{
        display: flex;
    }

    .fas.fa-camera.a {
        display: none;
    }

    .fas.fa-crown.a {
        display: none;
    }
    .fas.fa-home.a {
        display: none;
    }

    .fas.fa-search.a {
        display: none;
    }

    .fas.fa-camera.b {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        font-size: 1.8rem;
    }

    .fas.fa-home.b {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        font-size: 1.8rem;
    }

    .fas.fa-search.b {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        font-size: 1.8rem;
    }

    .fas.fa-crown.b {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        font-size: 1.8rem;
    }

    .fas.fa-user-circle {
        font-size: 1.8rem;
    }
    
    .nav-menubottom {
        grid-gap: 1px;
    }
    
   
} 


