* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
 
}

/* hides the side scroll bar */
*::-webkit-scrollbar {
  display: none;
}

