.Channel {
    align-items: center;
    text-align: center;
    max-width: 63.5rem;
    max-height: 31.75rem;

    position: absolute;
    left: calc(40vw - 10px);
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Channel::after{
    content: "";
    display: table;
    clear: both;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.channelInfo{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    width: 40rem;
    height: 10rem;
    text-align: center;
    border: solid 2px #efefef;
    border-radius: 10px;
    box-shadow: 2px 0px 4px 3px lightgray;
}

.label{
    font-family: 'Montserrat', sans-serif;
    margin-left: 75px;
    margin-right: 75px;
}

.labelHeader{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
}

.buttonChannel{
    width: 200px;
    height: 35px;
    border: 1px solid transparent;
    color: white;
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: none;
}

@media screen and (max-height: 900px) {
    .Channel{
        margin-top: 100px;
    }
    .buttonChannel{
        font-size: 16px;
    }
}
@media screen and (max-height: 790px) {
    .Channel{
        margin-top: 110px;       
    }
    .buttonChannel{
        font-size: 15px;
    }
}

@media screen and (max-height: 750px) {
    .Channel{
        margin-top: 130px;
    }
    .buttonChannel{
        font-size: 14px;
    }
}

@media screen and (max-height: 690px) {
    .Channel{
        margin-top: 150px;
    }
    .buttonChannel{
        font-size: 13px;
    }
}

@media screen and (max-height: 650px) {
    .Channel{
        margin-top: 170px;
    }
    .buttonChannel{
        font-size: 12px;
    }
}

@media screen and (max-height: 590px) {
    .Channel{
        margin-top: 200px;       
    }
    .buttonChannel{
        font-size: 11px;
    }
}