.FullPost{
    align-items: center;
    text-align: center;
    max-width: 63.5rem;
    max-height: 31.75rem;
    margin-top: 50px;
    position: absolute;
    left: calc(40vw - 10px);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.postbutton{
    width: 4rem;
}

.far.fa-heart {
    color: black;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.5rem;
}

.fas.fa-heart {
    color: black;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.5rem;
}

.score{
    padding-top: 0.7rem;
    font-family: 'Montserrat', sans-serif;
}

.headpart{
    display: flex;
    flex-direction: row;
}

.imginfo{
    text-align: left;
}

.date{
    display: flex;
    padding-left: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    left: 10px;
}

.addcomment{
    display: flex;
    flex-direction: row;
   padding-left: 1rem;
}

.inputText{
    width: 15rem;
    height: 30px;
    margin-top: 7px;
    border-radius: 20px;
    border-left: none;
    border: solid 1px lightgray;
    background-color: white;
}

.imagestyle {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: -2px 0px 4px 3px lightgray;
    min-height: 25rem;
    min-width: 50%;
    max-height: 31.75rem;
    max-width: 30rem;
    
    overflow: hidden;
}

.likesection{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;   
}

.channel{
    padding-left: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.caption{
    padding-left: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.singlecomment{
    width: 25rem;
    margin-top: 1rem;
    text-align: left;

}

.commentFormat{
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
}

.commentfield{
    border-top: solid 1.5px lightgray;
    border-bottom: solid 1.5px lightgray;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 5rem;
    text-align: center;
}

.backbutton{
  position: absolute;
  left: 1.5rem;
  top: 5rem;

}

.backbuttonC{
    position: fixed;
    left: 1.5rem;
    top: 5rem;
}

.fas.fa-arrow-left{
    color: black;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    font-size: 1.7rem;
}

.like{
    display: flex;
    flex-direction: row;
}

.fullpostinfo {
    min-height: 25rem;
    min-width: 50%;
    max-height: 31.75rem;
    max-width: 30rem;
    border: solid 1px lightgray;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 0px 4px 3px lightgray;
    padding: 10px;
    background-color: white;
   
   /* box-shadow: 0px 2px 7px 3px lightgray; */
}

.profileimg {
    border-radius: 44px;
    height: 44px;
    width: 44px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profileN {
    padding-top: 1.3rem;
    padding-left: 0.5rem;   
    font-family: 'Montserrat', sans-serif;
}

.report{
    margin: 10px;
    padding: 5px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;         
    border-radius: 5px;
    margin-left: 12rem;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.report:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)
  }

.profilecard{
    padding-top: 1rem;
}

.location{
    font-size: 0.8rem;
}

.commentinput{
    width: 50%;
    height: 38px;
    margin: 3px 40px 3px;
    margin-top: 7px;
    border-radius: 5px;
    border: solid 1px lightgray;
    background-color: white;
}

.user {
    text-align: bottom;
    width: 30%;
    display: flex;
    flex-direction: row;
}

.postDetails {
    margin-top: 10px;
    text-align: left;
    width: 70%;
}

@media screen and (max-height: 900px) {
    .imageFeed{
        margin-top: 100px;
        
    }
}

@media screen and (max-height: 790px) {
    .imageFeed{
        margin-top: 110px;
        
    }
}

@media screen and (max-height: 750px) {
    .imageFeed{
        margin-top: 130px;
        
    }
}

@media screen and (max-height: 690px) {
    .imageFeed{
        margin-top: 150px;
        
    }
}

@media screen and (max-height: 650px) {
    .imageFeed{
        margin-top: 170px;
        
    }
}

@media screen and (max-height: 590px) {
    .imageFeed{
        margin-top: 200px;
        
    }
}



@media screen and (max-width: 700px) {

    .imageFeed{
        min-width: 37.5rem;
    }

}

@media screen and (max-width: 610px) {
    .imageFeed{
        min-width: 570px;
    }
}

@media screen and (max-width: 575px) {
    .imageFeed{
        min-width: 400px;
    }
}

@media screen and (max-width: 410px) {
    .imageFeed{
        min-width: 350px;
    }
}
