.imageFeed{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 616px;
    height: 714px;

    position: absolute;
    left: calc(40vw - 10px);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: solid 1px #efefef;
    
  
}

.image{
    border-radius: 5px;
    height: 616px;
    width: 614px;
}

.profile {
    width: 616px;
    height: 50px;
    border: solid 1px #efefef;
    flex-direction: row;
}

.profileimage {
    border-radius: 40px;
    height: 45px;
    width: 45px;
    align-content: left;
}

.profileName {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}