.imageFeed{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 1000px;
    max-height: 685px;

    position: absolute;
    left: calc(40vw - 10px);
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post {
    padding-top: 5%;
    border-radius: 15px;
}

.image{
    max-height: 700px;
    max-width: 100%;
    margin-bottom: -4px;
}

.info {
    max-width: 100%;
    max-height: 685px;
    border: solid 1px #efefef;
    border-top: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profileimage {
    border-radius: 44px;
    height: 44px;
    width: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profileName {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.column{
    float: left;
}

.user {
    text-align: bottom;
    width: 30%;
}

.postDetails {
    margin-top: 10px;
    text-align: left;
    width: 70%;
}