.imageFeed{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 43.75rem;
    max-height: 43.75rem;

    margin-top: 50px;
    position: absolute;
    left: calc(40vw - 10px);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post {
    
    padding-bottom: 4%;
    border-radius: 15px;
}

.image{
    max-height: 43.75rem;
    max-width: 100%;
    margin-bottom: -4px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -2px 7px 3px lightgray;
}

.info {
    max-width: 100%;
    max-height: 685px;
    border: solid 1px #efefef;
    border-top: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 7px 3px lightgray;
}

.profileimage {
    border-radius: 44px;
    height: 44px;
    width: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profileName {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.column{
    float: left;
}

.user {
    text-align: bottom;
    width: 30%;
}

.postDetails {
    margin-top: 10px;
    text-align: left;
    width: 70%;
}

@media screen and (max-width: 700px) {

    .imageFeed{
        min-width: 37.5rem;
    }

}

@media screen and (max-width: 610px) {
    .imageFeed{
        min-width: 570px;
    }
}

@media screen and (max-width: 575px) {
    .imageFeed{
        min-width: 400px;
    }
}

@media screen and (max-width: 410px) {
    .imageFeed{
        min-width: 350px;
    }
}