.container {
    position: absolute;
    left: calc(40vw - 10px);
    width: 600px;
    height: 500px;
    top: 40%;
    padding-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    
}

.button-wrapper {
    position: relative;
    overflow: hidden;
    
}

.button-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


.images {
    border-radius: 5px;
    max-height: 685px;
    max-width: 508px;
    
    
}

.text {
    color: #262626;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 10px;
}

.inputboxT{
    border-radius: 5px;
    border: solid 1px #efefef;
    width: 500px;
    height: 42px;
    margin: 1px;
    background-color: white;
    
    cursor: text;
}

.inputboxD {
    border-radius: 5px;
    border: solid 1px #efefef;
    width: 500px;
    height: 78px;
    margin: 1px;
    background-color: white;
    
    cursor: text;
}

.button {
    padding: 1% 3%;
    width: 100px;
    height: 35px;
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 8px;

    border: 1px solid transparent;
    color: white;
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    display: inline-block;
}

.width {
    width: 150px;
}

/* input button css: https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a */