body {
  margin: 0;
}


.google-font {
  font-family: 'Pacifico', cursive;
  color: black;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#008ae6;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  .topnav-right {
    float: right;
  }

  .bottomnav-right {
    float: right;
  }

  
  
  .bottomnav {
    overflow: hidden;
    background-color: #008ae6;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .bottomnav a {
    
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }

  .bottomnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }

  .bottomnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }



