.AchivementsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 43.75rem;
    min-height: 43.75rem;

    margin-top: 50px;
    position: absolute;
    left: calc(40vw - 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: solid 2px #efefef;
}

.achievementBlock{
    padding-top: 20px;
    width: 43.75rem;
    height: 70px;
    align-items: center;
}

.divider{
    background-color: #efefef;;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    width: 100%;
}