.editProfileContainer{

    position: absolute;
    left: calc(40vw - 10px);
    width: 600px;
    height: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    align-items: center;
    display: inline-block;
}

h2{
    margin-top: 17px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    align-items: center;
}

.inputboxEditProfile{
    width: 300px;
    height: 50px;
    margin: 5px 45px 8px;
    border-radius: 5px;
    border: solid 1px #efefef;
    background-color: white;
    font-size: 20px;
    text-align: center;
}

.buttonEditProfile{
    padding: 1% 3%;
    width: 300px;
    height: 50px;
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 8px;

    border: 1px solid transparent;
    color: white;
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    display: inline-block;
}