.signInWelcome{

    position: fixed;
    left: calc(40vw - 10px);
    width: 350px;
    height: 380px;
    top: 20%;
  
    padding: 10px 10px;
  
    background-image: white;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.signup{
    position: fixed;
    left: calc(40vw - 10px);
    width: 350px;
    height: 500px;
    top: 20%;
  
    padding: 10px 10px;
  
    background-image: white;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button{
    padding: 1% 3%;
    width: 268px;
    height: 30px;
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 8px;

    border-style: solid;
    color: white;
    background-color: lightblue;

    border-radius: 4px;
    border-color: lightgrey;

    font-family: 'Bungee';
    font-size: 1.2vw;
    display: inline-block;
}

.whiteSpace{
    padding: 20px 30px; 
   position: absolute; 
   top: 0;
   left: 0; 
}

.inputbox{
    width: 260px;
    height: 38px;
    margin: 3px 40px 3px;
}

/* -----------------------line between OR to create division between login and guest --------------*/

/* --------------------------------------------------------------------------------------------------*/
.or{
    margin: 10px 40px 18px;
    flex-direction: row;
    overflow: hidden;
    text-align: center;
    width: 260px;
}
.or > span{
   position: relative;
   display: inline-block;
}
.or > span:before, .or > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 100vw;
   margin: 0 20px;
}
.or > span:before{
   right: 100%;
}
.or > span:after{
   left: 100%;
}

/* ----------------- hyperlink css ------------------*/ 
a{
    text-decoration: none;
    text-decoration-color: white;
}

a:active{
    color: black;
}

a:hover{
    color: black;
}

a:visited{
    color: black;
}
/* ------------------------------------------------- */

button:focus {
    outline: none;
}

button:hover {
    background-color: lightgrey;
}

input {
    margin-bottom: 5px;
    background-color:lightgrey;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding:3px;
    text-align: center;

    font-size: 12px;
  }

input:hover {
    outline: none;
}

/*https://stackoverflow.com/questions/15557627/heading-with-horizontal-line-on-either-side*/