@media (min-width: 736px){
.personalsection{
    padding: 30px 20px 0;
    width: calc(100% - 40px);
    box-sizing: content-box;
    }
}

.personalsection{
    margin: 100px;
    margin-bottom: 0;
    flex-grow: 1;
    max-width: 935px;
}

/*-----------------------Image Wrap ---------------------------------------*/
.imageWrap{
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
}

.imageWrap img{
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
}

.imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    grid-gap: 40px;
    text-align: center;
}

#one{
    background-color: blue;
}

#two{
    background-color: brown;
}

#three{
    background-color: green;
}

#four{
    background-color: red;
}

#five{
    background-color: orange;
}

#six{
    background-color: purple;
}

.pageButton1{
    height: 60px;
    text-align: center;
}