@media (min-width: 736px){
.personalsection{
    padding: 30px 20px 0;
    width: calc(100% - 40px);
    box-sizing: content-box;
    }
}

.personalsection{
    
    margin-bottom: 0;
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
}