@media (min-width: 735px){
.personalsection{
    padding: 30px 20px 0;
    width: calc(100% - 40px);
    box-sizing: content-box;
    }
}

/* ------------------------ Personal Info Header ----------------------- */
.personalsection{
    margin: 60px auto;
    margin-bottom: 0;
    flex-grow: 1;
    width: 760px;
    left: 50%;
    height: 190px;

    text-align: center;
    border-radius: 5px;
    border: solid 1px #efefef;
    background-color: white;
}
.column{
    float: left;
}

.personalsection::after{
    content: "";
    display: table;
    clear: both;
}

/* ------------------- div divider for personal section ---------------*/


.personalsectionLeft{
    text-align: center;
    height: 180px;
    width: 25%;
}

.personalsectionRight{
    text-align: center;
    height: 180px;
    width: 75%;
}

.leftPersonalSide{
    height: 130px;
    width: 50%;
    width: 270px;
    text-align: center;
}

.rightPersonalSide{
    height: 130px;
    margin-left: 30px;
    width: 50%;
    width: 270px;
    text-align: center;
}

.column1{
    float: left;
}

.pageButtons{
    height: 150px;
}

.content{
    height: 70px;
    text-align: center;
}

.editBio{
    width: 150px;
    height: 25px;
    margin: 3px 40px 3px;
    border-radius: 5px;
    border: solid 1px #efefef;
    background-color: white;
    text-align: center;
}

.editBioButton{
    width: 150px;
    height: 25px;
    margin: 3px 40px 3px;
    border-radius: 5px;
    text-align: center;
}

.buttonChannel{
    width: 190px;
    height: 35px;
    border: 1px solid transparent;
    color: white;
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: none;
}