@media (min-width: 736px){
.personalsection{
    padding: 30px 20px 0;
    width: calc(100% - 40px);
    box-sizing: content-box;
    }
}

/* --------------------------- profile picture ------------------------ */

.profileimageProfile {
    border-radius: 75px;
    height: 150px;
    width: 150px;
    align-content: left;
}

/* ------------------------ Personal Info Header ----------------------- */
.personalsection{
    margin: 60px auto;
    margin-bottom: 0;
    flex-grow: 1;
    max-width: 935px;
    left: 50%;
    height: 230px;

    border-radius: 5px;
    border: solid 1px #efefef;
    background-color: white;
}
.column{
    float: left;
}

.personalsection::after{
    content: "";
    display: table;
    clear: both;
}

.personalsectionLeft{
    text-align: center;
    height: 230px;
    width: 25%;
}

.personalsectionRight{
    text-align: center;
    height: 230px;
    width: 75%;
}

/* ------------------- div divider for personal section ---------------*/

.leftPersonalSide{
    height: 130px;
    width: 50%;
}

.rightPersonalSide{
    height: 130px;
    width: 50%;
}

.column1{
    float: left;
}

.pageButtons{
    height: 150px;
}

.content{
    height: 70px;
    text-align: center;
}

/*-----------------------Image Wrap ---------------------------------------*/
.imageWrap{
    border-radius: 15px;
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
    opacity: 0.8;
}

.imageWrap img{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    grid-gap: 40px;
    text-align: center;
}

.editBio{
    width: 150px;
    height: 25px;
    margin: 3px 40px 3px;
    border-radius: 5px;
    border: solid 1px #efefef;
    background-color: white;
    text-align: center;
}

.editBioButton{
    width: 150px;
    height: 25px;
    margin: 3px 40px 3px;
    border-radius: 5px;
    text-align: center;
}