.Account{
    text-align: center;
    overflow-y: scroll;
    height: 550px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.inputFields{
    padding-top: 20px;
    margin-left: 30%;
    padding-bottom: 20px;
    text-align: center;
}

.SearchBar{
    width: 70%;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.searchBarContainer{
    padding-top: 70px;
    padding-left: 30px;
    text-align: center;
}

.settingsDivision{
    text-align: center;
    padding-top: 20px;
}

.inputbox{
    width: 300px;
    height: 38px;
    margin: 3px 40px 3px;
    border-radius: 5px;
    border: solid 1px #efefef;
    background-color: white;
}

.changePassword{
    text-align: center;
    border: solid 1px #efefef;
    background-image: white;
    border-radius: 5px;
    width: 60%;
}
