
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}  


.bot-mar{
    margin-bottom: 0px;
}
.navbar{
    padding:.8rem;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em;
}
.carousel-inner img{
    width: 100%;
    height: auto;
}
.parallax{
    background: url("img/code.jpg"); 
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.vcenter{
    padding: 20%;
}
.center {
    text-align: center;
}

.roundcorners {
    border-radius: 1rem;
  }

@media (max-width:765){
    .parallax{
        height: 70%;
    }  
}
.img {
    height: 80%;
    width: 100%;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}