html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
.navbar{
    padding:.8rem;

}
.navbar-nav li{
    paddig-right:20px;
}
.nav-link{
    font-size: 1.1em;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}