html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
.bot-mar{
    margin-bottom: 0px;
}
.navbar{
    padding:.8rem;

}
.navbar-nav li{
    padding-right:20px;
}
.nav-link{
    font-size: 1.1em;
}
.carousel-inner img{
    width: 100%;
    height: auto;
}
.parallax{
    background: url("img/img3.jpg"); 
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    text-align: center;
}
.vcenter{
    padding: 20%;
}
.nav-bar-fix{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (max-width:765){
    .parallax{
        height: 70%;
    }  
}
